<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discord sunucularınıza özel davet linki veriyoruz!</title>
    <meta name="description" content="Discord sunucularınıza nitrosuz özel davet kodu alarak hem sitemizde sunucunuzu tanıtmış olun hemde size özel bir sunucu davet linkine sahip olun">
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="LOGO.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
  </head>
  <body>
    <!-- Navbar Menu  ---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="#">
           <img src="discordserversite.com1.png" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#top">Ana Sayfa<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Sağladıklarımız</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sunucular">Sunucularımız</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Burdan Sipariş verin (mağaza site link eklencek)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lemfamily">İletişim (lem family in özel dc linki eklencek)</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <!--- Banner Hero section ------->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="promo-title">Discord sunucularınıza yeni insanlar katın</p>
            <p class="join-title">Hemen aşağıdaki butondan hem nitro almadan sunucunuza özel davet koduna sahip olun hemde sunucunuza yeni insanlar katın.</p>
            <button type="button"class="btn btn-primary" name="button" ><a href="/sunucular">Sunucularımız</a></button> 
            <button type="button"class="btn btn-primary" name="button"><a href="">Satın Al</a></button> 

          </div>
            <div class="col-md-6">
              <img src="undraw_email_campaign_qa8y.svg" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="ground@-min.png" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="services">
      <div class="container text-center">
        <h3 class="title text-center">Servislerimiz</h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="undraw_website_setup_5hr2.svg" class="service-img"   alt="">
            <h4>Hızlı ve dinamik sayfa tasarımı</h4>
            <p>Sayfamız backend tarafında hızlı ve dinamik olacak bir şekilde tasarlanmıştır. Bu sayede seo çalışmalarında sayfa ve sunucularınız daha öne çıkmaktadır.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="branding.svg" class="service-img"   alt="">
            <h4>Sunucularınızı websitemizde tanıtıyoruz</h4>
            <p>Özel link hizmeti aldığınızda sunucunuzu websitemizde tanıtıyoruz bu sayede sitemize sunucu bulmak için giren üyeler sizin sunucunuzu görüp gelebilir.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="ads.svg" class="service-img"   alt="">
            <h4>Arama Motorları</h4>
            <p>Sunucunuz arama motorlarında ön sırada görünecektir bu sayede sunucunuza yeni insanlar katabilirsiniz.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="undraw_Savings_dwkw.svg" class="service-img"   alt="">
            <h4>Uygun Fiyatlar</h4>
            <p>Özel davet linki ve diğer ayrıcalıklara çok uygun bütçenizi zorlamayacak fiyatlarla sahip olabilirsiniz.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="social.svg" class="service-img"   alt="">
            <h4>Sosyal Medya (Yakında)</h4>
            <p>Websitemizin yanı sıra Facebook, Instagram ve Twitter gibi sosyal medya hesaplarımızdan da sunucularınızı paylaşacağız.
            </p>
          </div>
          <div class="col-md-4 services">
          <img src="undraw_wireframing_nxyi.svg" class="service-img"   alt="">
            <h4>SEO Çalışmaları</h4>
            <p>Sitemizi arama sonuçlarında en ön sıralara çıkaracak çalışmalar yapıyoruz bu sayede sunucularınız daha fazla insan tarafından görüntülenecek.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--- About Section ------>
    <section id="about">
      <div class="container">
        <h3 class="title text-center">Hakkımızda</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Biz (discordserversite.com) discord ve sunucularının daha çok duyulmasını amaçlayan bir ekibiz. Hedeflerimiz:</p>
            <ul>
              <li>Sitemizi insanlara duyurmak ve sunucu sahiplerinin sitemize sunucularını ekletmesi.</li>
              <li>Sitemizi seo çalışmalarında en üst seviyelere çıkarıp sunuculara üye kazandırmak.</li>
              <li>Sunuculara özel bölümler (davet linki) yapıp kalite kazandırmak.</li>
            </ul>
          </div>
            <div class="col-md-6">
              <img src="undraw_mobile_marketing_iqbr.svg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>
    <!-- Footer ------>
    <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-box">
              <img src="images/discordserversite.com1.png" alt="">
              <p>discordserversite.com discord ve içindeki sunucuların gelişmesini amaçlayan tarafsız bir platformdur.
              </p>
              <p>Soru, Öneri ve şikayet için mail adresimiz üzerinden bize eposta üzerinden ulaşabilirsiniz.</p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>İletişim Yolları</b></p>
                <p><i class="fa fa-map-marker"></i>discordserversite.com</p>
                <p><i class="fa fa-phone"></i>yakında</p>
                <p><i class="fa fa-envelope-o"></i>info@examle.com</p>
            </div>

                <div id="social">
                    <p>Bizi Sosyal Medyadan Takip Edin</p>
                       <div class="social-icons">
                          <a href="#" class="svg-icons"><img src="facebook-logo.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="instagram_.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="twitter-logo.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="whatsapp.svg" alt=""></a>
                       </div>
                </div>
            </div>
            <div class="col-md-6 ">
              <p class="copyright">Copyright © 2021. Tüm Hakları Saklıdır| Designed by <a href="(lem family link)">Jonblack#0109</a></p>
            </div>
            <div class="col-md-6 text-right">
            <p class="copyright">
              <a href="#">Privacy Policy</a>
              <a href="#">Cookie Policy</a>
              <a href="#">Terms & Conditions</a>
            </p>
            </div>
          </div>
          <br>
        </div>
    </section>
    <!--- Smooth Scroll js ---------->
    <script type="text/javascript" src="smooth-scroll.js"></script>
    <script>
	    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>
</html>
