<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lem Family sunucusuna yönlendiriliyorsunuz...</title>
    <meta name="description" content="Discord sunucularınıza nitrosuz özel davet kodu alarak hem sitemizde sunucunuzu tanıtmış olun hemde size özel bir sunucu davet linkine sahip olun">
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="LOGO.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
  </head>
  
  <style>
    /* 
    CSS ile nesneyi ortalamanın birden fazla yöntemi mevcut
    Ancak bu yöntem benim için daha sadece...    
    */
    body{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 100vh;/*ekran yüksekliğinin tamamı*/
        width: 100vw;/*ekran genişliğinin tamamı*/
        background-color: #5865f2;
    }
    h1{
        font-family: sans-serif;
        font-size: 2em;
    }
    div{
        display: inline-block;/* #5865f2*/
        color: black;
        
        padding:20px;
    }
    
</style>

  <body >

<div align="center">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="lemfamilysvlogo.png" alt="Lem Family">
    <div class="card-body">
      <h5 class="card-title">Lem Family</h5>
      <p class="card-text">Lem Family sunucusuna yönlendiriliyorsunuz...</p>
      <meta http-equiv="refresh" content="2; url=https://discord.gg/3seUybwfnF"> 
    </div>
  </div>
</div>
  </body>
  </html>
  