<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discord sunucularınıza özel davet linki veriyoruz!</title>
    <meta name="description" content="Discord sunucularınıza nitrosuz özel davet kodu alarak hem sitemizde sunucunuzu tanıtmış olun hemde size özel bir sunucu davet linkine sahip olun">
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="LOGO.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
  </head>
  <body>
      <!-- Navbar Menu  ---->
      <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
           <a class="navbar-brand" href="#">
             <img src="discordserversite.com1.png" alt="">
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa fa-bars"></i>
           </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#top">Sunucularımız<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Ana Sayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Burdan Sipariş verin (mağaza site link eklencek)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lemfamily">İletişim (lem family in özel dc linki eklencek)</a>
              </li>
            </ul>
          </div>
        </nav>
    </section>
    <!--- Banner Hero section ------->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="promo-title">Sunucular</p>
            <p class="join-title">Sitemize eklenen discord sunucuları.</p>
            <button type="button"class="btn btn-primary" name="button"><a href="">Satın Al</a></button> 
          </div>
            <div class="col-md-6">
              <img src="bulanıkdcfoto.png" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="ground@-min.png" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="services">
        <ul class="cards">
            <li>
              <a href="/lemfamily" class="card">
                <img src="lemfamilysvlogo.png" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="lemfamilysvlogo.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Lem Family</h3>            
                      <span class="card__status">7/7/2021</span>
                    </div>
                  </div>
                  <p class="card__description">Bu sitenin kurucusununda bulunduğu içersinde arkadaşlık dostluk ortamı olan bir eğlence ve oyun sunucusu</p>
                </div>
              </a>      
            </li>
           <li> 
              <a href="" class="card">
                <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                <div class="card__overlay">        
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                    <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">kim Cattrall</h3>
                      <span class="card__status">3 hours ago</span>
                    </div>
                  </div>
                  <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
              </a>
            </li> 
          <li>
              <a href="" class="card">
                <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Jessica Parker</h3>
                      <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>            
                      <span class="card__status">1 hour ago</span>
                    </div>
                  </div>
                  <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
              </a>
            </li>
          <li>
              <a href="" class="card">
                <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                    <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">kim Cattrall</h3>
                      <span class="card__status">3 hours ago</span>
                    </div>          
                  </div>
                  <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
              </a>
            </li>    
          </ul>
          
    </section>
    <!-- Footer ------>
    <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-box">
              <img src="images/discordserversite.com1.png" alt="">
              <p>discordserversite.com discord ve içindeki sunucuların gelişmesini amaçlayan tarafsız bir platformdur.
              </p>
              <p>Soru, Öneri ve şikayet için mail adresimiz üzerinden bize eposta üzerinden ulaşabilirsiniz.</p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>İletişim Yolları</b></p>
                <p><i class="fa fa-map-marker"></i>discordserversite.com</p>
                <p><i class="fa fa-phone"></i>yakında</p>
                <p><i class="fa fa-envelope-o"></i>info@examle.com</p>
            </div>

                <div id="social">
                    <p>Bizi Sosyal Medyadan Takip Edin</p>
                       <div class="social-icons">
                          <a href="#" class="svg-icons"><img src="facebook-logo.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="instagram_.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="twitter-logo.svg" alt=""></a>
                          <a href="#" class="svg-icons"><img src="whatsapp.svg" alt=""></a>
                       </div>
                </div>
            </div>
            <div class="col-md-6 ">
              <p class="copyright">Copyright © 2021. Tüm Hakları Saklıdır| Designed by <a href="(lem family link)">Jonblack#0109</a></p>
            </div>
            <div class="col-md-6 text-right">
            <p class="copyright">
              <a href="#">Privacy Policy</a>
              <a href="#">Cookie Policy</a>
              <a href="#">Terms & Conditions</a>
            </p>
            </div>
          </div>
          <br>
        </div>
    </section>
    <!--- Smooth Scroll js ---------->
    <script type="text/javascript" src="smooth-scroll.js"></script>
    <script>
	    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>
</html>